<div class="header-container">
      <h2>SubCategory Management</h2>
      <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon> Add New
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
        <ng-container matColumnDef="category_id">
          <th mat-header-cell *matHeaderCellDef> category_id </th>
          <td mat-cell *matCellDef="let element"> {{ element.category_id }} </td>
        </ng-container>
        <ng-container matColumnDef="name_en">
          <th mat-header-cell *matHeaderCellDef> name_en </th>
          <td mat-cell *matCellDef="let element"> {{ element.name_en }} </td>
        </ng-container>
        <ng-container matColumnDef="name_tr">
          <th mat-header-cell *matHeaderCellDef> name_tr </th>
          <td mat-cell *matCellDef="let element"> {{ element.name_tr }} </td>
        </ng-container>
        <ng-container matColumnDef="slug">
          <th mat-header-cell *matHeaderCellDef> slug </th>
          <td mat-cell *matCellDef="let element"> {{ element.slug }} </td>
        </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
